<div *ngIf="pokeBorrado; else noBorrado">

    <h3>Poke Borrado: <small> {{pokeBorrado[0].name}}</small></h3>

</div>

<ng-template #noBorrado>

    <h3>No ha borrado nada</h3>

</ng-template>



<p>Traer Pokemones</p>



<button (click)="search()">Buscar</button>
<span *ngIf="search, else noPoke">informacion </span>

<br>

<ng-template #noPoke>
    <span>no tenemos pokemones</span>
</ng-template>


<ul>
    <li *ngFor="let poke of pokemones, let i = index" style="list-style: none;">
        <input type="radio" name="pokemones" id="{{ i}}" value="{{ i}}">
        <label for="{{ i}}">{{poke.name}}</label>
    </li>
</ul>

<button (click)="borrarPoke()">Borrar</button>